<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MyShop</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home Page</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sing In</a></li>
            <li><a href="#">Sing Up</a></li>
        </ul>
    </div>
</nav>